{{!-- Index Handlebars file --}}
{{!-- Start Jumbotron --}}
<div class="jumbotron">
    <div>
        {{!-- login button --}}
        <form class="lead" action="/login" method="GET">
            <button class="btn btn-primary btn-lg" id="login-btn">Login</button>
        </form>
        {{!-- signup button --}}
        <form class="lead" action="/signup" method="GET">
            <button class="btn btn-primary btn-lg" id="signup-btn">Signup</button>
        </form>
    </div>
    <div class="container">
        <img src="/assets/Images/Logos/linkedin_profile_image.png" alt="Logo image">
    </div>
    <section id='search' class='container'>
        <div class="search-wrapper">
            <h3>Search A Topic</h3>
            <form action="/questions/search" class="search-form">
                <i class="fa fa-search" style="font-size:24px"></i>
                <input type="search" name="topic"
                    placeholder="JavaScript, HTML, CSS, Node, MySQL, Sequelize or Restful Services">
                <input type="submit" value="Search">
            </form>
        </div>
    </section>
</div>

{{!-- End Jumbotron --}}

{{!-- Start container with cards --}}
<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-header">
                Top JavaScript Question
            </div>
            <div class="card-body">
                <h5 class="card-title">How can you convert the string of any base to integer in JavaScript?</h5>
                <p class="card-text"> The parseInt() function is used to convert numbers between different bases.
                    parseInt() takes the string to be converted as its first parameter, and the second parameter is the
                    base of the given string.</p>
                <p>RATING: 9</p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                Top HTML Question
            </div>
            <div class="card-body">
                <h5 class="card-title">Why are you interested in using HTML to build websites?</h5>
                <p class="card-text"> Web-building tools are great for laymen and professional developers, but I think
                    it’s important to understand the underlying technology so I have more control over how sites look
                    and behave. For instance, when I use WordPress to build a site, I often find that I can get better
                    results by inserting my own HTML instead of relying on the provided tools.</p>
                <p>RATING: 7</p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                Top RESTful Services Question
            </div>
            <div class="card-body">
                <h5 class="card-title">Name the protocol which is used by RESTful web services.</h5>
                <p class="card-text"> RESTful web services use a famous web protocol i.e. HTTP protocol.
                    This serves as a medium of data communication between client and server.
                    HTTP standard methods are used to access resources in RESTful web service architecture.</p>
                <p>RATING: 10</p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                Top MySQL Question
            </div>
            <div class="card-body">
                <h5 class="card-title"> What is the default port number of MySQL?</h5>
                <p class="card-text"> The default port number for MySQL is 3306.</p>
                <p>RATING: 6</p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                Top Node Question
            </div>
            <div class="card-body">
                <h5 class="card-title">What is package.json and what is it used for?</h5>
                <p class="card-text"> This file holds various metadata information about the project. This file is used
                    to give information to npm that allows it to identify the project as well as handle the project's
                    dependencies.</p>
                <p>RATING: 8</p>
            </div>
        </div>
    </div>
</div>
{{!-- End Container with cards --}}

{{!-- Start Footer --}}
<footer id="sticky-footer">
    <div class="container bottom_border">
        <div class="row">
            <div class=" col-sm-4 col-md col-sm-4  col-12 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Contact us</h5>
                <p class="mb10">enxhi_salaj@yahoo.com</p>
                <p class="mb10">roggpierce@gmail.com</p>
                <p class="mb10">sambishop3015@hotmail.com</p>
                <p class="mb10">tatum_alex@gmail.com</p>
                <p class="mb10">marlee.eyre@gmail.com</p>
                <p class="mb10">muneebbwp@gmail.com</p>
            </div>
            {{!-- Linkedin links of the development team --}}
            <div class=" col-sm-4 col-md  col-12 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
                <p><a href="https://www.linkedin.com/in/enxhi-salaj-09a859173/"><i class="fa fa-linkedin fa-inverse"
                            id='linkedIn'> Enxhi Salaj</i></a></p>
                <p><a href="https://www.linkedin.com/in/pierce-rogg"><i class="fa fa-linkedin fa-inverse"> Pierce
                            Rogg</i></a></p>
                <p><a href="https://www.linkedin.com/in/sambishop3015/"><i class="fa fa-linkedin fa-inverse"
                            id='linkedIn'> Sam Bishop</i></a></p>
                <p><a href="https://www.linkedin.com/in/alex-tatum-84330a1b3"><i class="fa fa-linkedin fa-inverse"
                            id='linkedIn'> Alex Tatum</i></a></p>
                <p><a href="https://www.linkedin.com/in/marlee-eyre-cnmt-b4919686/"><i class="fa fa-linkedin fa-inverse"
                            id='linkedIn'> Marlee Eyre</i></a></p>
                <p><a href="https://www.linkedin.com/in/muneebbwp"><i class="fa fa-linkedin fa-inverse" id='linkedIn'>
                            Muneeb Ali</i></a></p>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <small>Copyright 2021 &copy; Git.Interview</small>
    </div>
</footer>
{{!-- End Footer --}}