<form class="lead" action="/api/questions" method="POST">
       <input type="text" id="topic" name="topic" placeholder="topic">
       <input type="text" id="body" name="body" placeholder="body">
        {{!-- <button class="btn btn-primary btn-lg">Submit</button> --}}
        <input type="submit" value="Question">
    </form>