{{!-- Search Results Page --}}
<div class="jumbotron">
    <div class="container">
        <img src="/assets/Images/Logos/linkedin_profile_image.png" alt="Logo image">
        {{!-- <h1 class="display-4" id="site-title">Git.Interview</h1> --}}
    </div>    

{{#each questions}}
    <div class="container questions">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    Submitted Questions
                </div>
                <div class="card-body">
                    <li class="card-title">{{topic}} </h5>
                        <p class="card-body"> {{this.body}}</p>
                        <button class="fa fa-thumbs-up"></button>
                        <button class="fa fa-thumbs-down"></button>
                    </li>
                </div>
            </div>
        </div>
    </div>
{{/each}}


{{!-- Start Footer --}}
<footer id="sticky-footer">
    <div class="container bottom_border">
        <div class="row">
            <div class=" col-sm-4 col-md col-sm-4  col-12 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Contact us</h5>
                <p class="mb10">enxhi_salaj@yahoo.com</p>
                <p class="mb10">roggpierce@gmail.com</p>
                <p class="mb10">sambishop3015@hotmail.com</p>
                <p class="mb10">tatum_alex@ymail.com</p>
                <p class="mb10">marlee.eyre@gmail.com</p>
                <p class="mb10">muneebbwp@gmail.com</p>
            </div>
            {{!-- Linkedin links of the development team --}}
            <div class=" col-sm-4 col-md  col-12 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
                <p><a href="https://www.linkedin.com/in/enxhi-salaj-09a859173/"><i class="fa fa-linkedin fa-inverse" id='linkedIn'>   Enxhi Salaj</i></a></p>
                <p><a href="https://www.linkedin.com/in/pierce-rogg"><i class="fa fa-linkedin fa-inverse">   Pierce Rogg</i></a></p>
                <p><a href="https://www.linkedin.com/in/sambishop3015/"><i class="fa fa-linkedin fa-inverse" id='linkedIn'>   Sam Bishop</i></a></p>
                <p><a href="https://www.linkedin.com/in/alex-tatum-84330a1b3"><i class="fa fa-linkedin fa-inverse" id='linkedIn'>   Alex Tatum</i></a></p>
                <p><a href="https://www.linkedin.com/in/marlee-eyre-cnmt-b4919686/"><i class="fa fa-linkedin fa-inverse" id='linkedIn'>   Marlee Eyre</i></a></p>
                <p><a href="https://www.linkedin.com/in/muneebbwp"><i class="fa fa-linkedin fa-inverse" id='linkedIn'>   Muneeb Ali</i></a></p>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <small>Copyright 2021 &copy; Git.Interview</small>
    </div>
</footer>
{{!-- End Footer --}}