{{!-- Sign up page --}}
{{!-- This is the page a new user signs up for an account --}}
<div class="wrapper">
        <div id="formContent">
            <!-- Signup Form -->
            <p><i class="fa fa-user-plus" id="signup-icon" style="font-size:42px"></i></p>
            <form class="form-inline" action="/api/signup" method="POST">
                <input type="text" id="username" name="username" placeholder="username">
                <input type="text" id="email" name="email" placeholder="email">
                <input type="password" id="password" name="password" placeholder="password">
                <input type="submit" value="Signup">
            </form>

        </div>
</div>