/* Styling css file for the project */

/* Index file styling */
body {
    background-color: #A4B3BF;
}

.jumbotron {
    background-color: #0E2F56;
    color: #CCD3D9;
    font-family: 'Audiowide', cursive;
}

h3 {
    text-align: center;
    margin-bottom: 1rem;
}

img {
    margin: auto;
    width: 300px;
    height: 300px;
    text-align: center;
    display: block;
}

#login-btn {
    float: right;
    background-color: #A4B3BF;
    color: #0F3759;
    outline-color: #0F3759;
    margin: 1px;
}

#signup-btn {
    float: right;
    background-color: #A4B3BF;
    color: #0F3759;
    outline-color: #0F3759;
    margin: 1px;
}

.search-wrapper {
    margin: 0 auto;
    text-align: center;
    width: inherit;
    display: inline-block;
}

.card {
    margin: 1rem;
    font-family: 'Roboto', sans-serif;
    background-color: #CCD3D9;
    color: #0E2F56;
}

#space {
    margin-bottom: 1rem;
    background-color: #0E2F56;
    height: 5px;
}

.card-body {
    color: #0E2F56;
}

.card-title {
    color: #0E2F56;
}

#sticky-footer {
    background-color: #0E2F56;
    color: #CCD3D9;
    padding: 20px;
}

.footer_ul2_amrc {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}


/* Login Page Style */

.wrapper {
    margin-top: 10rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
    align-items: center;
    display: block;
}

#formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #0F3759;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 40px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
    background-color: #0F3759;
}

input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active {
    text-align: center;
    display: block;
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

input[type=text],
input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #fff;
    border-bottom: 2px solid #0F3759;
}

input[type=text]:placeholder,
input[type=password]:placeholder {
    color: #cccccc;
}

a {
    color: #0F3759;
    display: block;
    text-decoration: none;
    font-weight: 400;
}

#login-icon {
    color: #0F3759;
    margin: 10px;
}

#signup-icon {
    color: #0F3759;
    margin: 10px;
}

#question-icon {
    color: #0F3759;
    margin: 10px;
}

/* Profile page style */
.logout-btn {
    float: right;
    background-color: #A4B3BF;
    color: #0F3759;
    outline-color: #0F3759;
    margin: 1px;
}

.post-btn {
    float: right;
    background-color: #A4B3BF;
    color: #0F3759;
    outline-color: #0F3759;
    margin: 1px;
}

.fa-thumbs-up {
    color: #0F3759;
}

.fa-thumbs-down {
    color: #0F3759;
}

#linkedIn {
    height: 15px;
}

.fa-search {
    color: #A4B3BF;
}

.profile-btn {
    float: right;
    background-color: #A4B3BF;
    color: #0F3759;
    outline-color: #0F3759;
    margin: 1px;
}